{% extends "base.html.twig" %}

{% block title %}MongoShop{% endblock title %}
{% block main %}
    <h1>MongoShop Home</h1>
    <p>This is a WebShop for educational purpose based on <a href="https://github.com/Digital-Media/fhooe-router" target="_blank">fhooe/router</a></p>
{% endblock main %}